r_dir_file(hal_audio_default, persist_usf_cal_file)
allow hal_audio_default vendor_data_file:dir write;
allow hal_audio_default vendor_data_file:dir add_name;
allow hal_audio_default vendor_data_file:file create;
allow hal_audio_default vendor_data_file:file { append read };
get_prop(hal_audio_default, dirac_prop)
set_prop(hal_audio_default, dirac_prop)
