r_dir_file(untrusted_app, sysfs_batteryinfo)
allow untrusted_app hal_perf_hwservice:hwservice_manager find;
allow untrusted_app adsprpcd_file:filesystem getattr;
allow untrusted_app bt_firmware_file:filesystem getattr;
allow untrusted_app firmware_file:filesystem getattr;
allow untrusted_app mnt_vendor_file:dir { getattr search };
allow untrusted_app rootfs:dir read;
allow untrusted_app init_exec:file getattr;
allow untrusted_app proc:file read;
allow untrusted_app proc_pid_max:file read;
allow untrusted_app proc_qtaguid_stat:file read;
allow untrusted_app proc_tty_drivers:file read;
allow untrusted_app rootfs:dir open;
allow untrusted_app rootfs:file getattr;
allow untrusted_app sysfs_kgsl:dir search;
allow untrusted_app unlabeled:file getattr;
allow untrusted_app bootstat_exec:file getattr;
allow untrusted_app file_contexts_file:file getattr;
allow untrusted_app hwservice_contexts_file:file getattr;
allow untrusted_app mac_perms_file:file getattr;
allow untrusted_app nonplat_service_contexts_file:file getattr;
allow untrusted_app seapp_contexts_file:file getattr;
allow untrusted_app vndservice_contexts_file:file getattr;