# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   
   setprop persist.spectrum.kernel AEX-EAS+

# Balance (default profile)
on property:persist.spectrum.profile=0
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us
    chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable
    chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sda/queue/scheduler bfq
    write /sys/block/sde/queue/scheduler bfq
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sde/queue/iostats 0
    write /dev/stune/foreground/schedtune.boost 20
    write /dev/stune/rt/schedtune.boost 50
    write /dev/stune/schedtune.boost 20
    write /dev/stune/top-app/schedtune.boost 30
    write /sys/module/workqueue/parameters/power_efficient Y
	write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1525 5195 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "cpufreq"
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "powersave"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "powersave"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"
    setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996.conf
    stop thermal-engine
    start thermal-engine

# Performance 
on property:persist.spectrum.profile=1
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/performance/down_rate_limit_us
	write /sys/devices/system/cpu/cpu0/cpufreq/performance/down_rate_limit_us 30000
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/performance/up_rate_limit_us
	write /sys/devices/system/cpu/cpu0/cpufreq/performance/up_rate_limit_us 250
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/performance/iowait_boost_enable
	write /sys/devices/system/cpu/cpu0/cpufreq/performance/iowait_boost_enable 1  
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor performance
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/performance/down_rate_limit_us
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/performance/up_rate_limit_us
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/performance/iowait_boost_enable
    write /sys/devices/system/cpu/cpu2/cpufreq/performance/down_rate_limit_us 30000
    write /sys/devices/system/cpu/cpu2/cpufreq/performance/up_rate_limit_us 250
    write /sys/devices/system/cpu/cpu2/cpufreq/performance/iowait_boost_enable 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sde/queue/scheduler deadline
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sde/queue/iostats 0
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/kernel/sched/arch_power 0
    write /proc/sys/kernel/sched_boost 1
    write /dev/stune/foreground/schedtune.boost 30
    write /dev/stune/rt/schedtune.boost 60
    write /dev/stune/schedtune.boost 30
    write /dev/stune/top-app/schedtune.boost 40
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "13763"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "performance"
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 13763
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "performance"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "performance"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "performance"
    setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996_gaming.conf
    stop thermal-engine
    start thermal-engine

# Battery
on property:persist.spectrum.profile=2
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1363200
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/down_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/down_rate_limit_us 10000
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/up_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/up_rate_limit_us 500
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/iowait_boost_enable
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/iowait_boost_enable 1
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor userspace
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/userspace/down_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/userspace/down_rate_limit_us 10000
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/userspace/up_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/userspace/up_rate_limit_us 500
    write /sys/kernel/cpu_input_boost/enabled 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 401800000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sde/queue/read_ahead_kb 256
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sde/queue/scheduler noop
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/kernel/sched/arch_power 1
    write /proc/sys/kernel/sched_boost 0
    write /dev/stune/foreground/schedtune.boost 10
    write /dev/stune/rt/schedtune.boost 25
    write /dev/stune/schedtune.boost 10
    write /dev/stune/top-app/schedtune.sched_boost 15
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "762 2288 5195"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "powersave"
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "powersave"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "powersave"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "powersave"
    setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996_battery.conf
    stop thermal-engine
    start thermal-engine

# Gaming
on property:persist.spectrum.profile=3
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pwrutilx
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600 
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/down_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/down_rate_limit_us 50000
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/up_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/up_rate_limit_us 100
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/iowait_boost_enable
    write /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/iowait_boost_enable 1
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor pwrutilx
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/down_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/pwrutilx/down_rate_limit_us 50000
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/up_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/pwrutilx/up_rate_limit_us 100
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/iowait_boost_enable
    write /sys/devices/system/cpu/cpu2/cpufreq/pwrutilx/iowait_boost_enable 1
    write /sys/kernel/cpu_input_boost/enabled 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 315000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 4
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sde/queue/scheduler deadline
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/kernel/sched/arch_power 0
    write /proc/sys/kernel/sched_boost 1
    write /dev/stune/foreground/schedtune.boost 40
    write /dev/stune/rt/schedtune.boost 70
    write /dev/stune/schedtune.boost 40
    write /dev/stune/top-app/schedtune.boost 50
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "13763"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "performance"
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 13763
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "performance"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "performance"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "performance"
    setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996_gaming.conf
    stop thermal-engine
    start thermal-engine
    
# Extreme Battery
on property:persist.spectrum.profile=4
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1363200
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/down_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/down_rate_limit_us 10000
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/up_rate_limit_us
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/up_rate_limit_us 500
	chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/powersave/iowait_boost_enable
    write /sys/devices/system/cpu/cpu0/cpufreq/powersave/iowait_boost_enable 1
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/powersave/down_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/powersave/down_rate_limit_us 10000
	chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/powersave/up_rate_limit_us
    write /sys/devices/system/cpu/cpu2/cpufreq/powersave/up_rate_limit_us 500
    write /sys/kernel/cpu_input_boost/enabled 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 401800000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sde/queue/read_ahead_kb 256
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sde/queue/scheduler noop
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/kernel/sched/arch_power 1
    write /proc/sys/kernel/sched_boost 0
    write /dev/stune/foreground/schedtune.boost 10
    write /dev/stune/rt/schedtune.boost 25
    write /dev/stune/schedtune.boost 10
    write /dev/stune/top-app/schedtune.sched_boost 15
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "762 2288 5195"
    write /sys/class/devfreq/soc:qcom,cpubw/governor "powersave"
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 762
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "powersave"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "powersave"
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "powersave"
    setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996_battery.conf
    stop thermal-engine
    start thermal-engine